RewriteEngine On
RewriteBase /

# Strip www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule .* http://%1%{REQUEST_URI} [R=301,L]

# Allow static files.
RewriteRule ^a/([0-9]+/)?(.*) a/$2 [L]

# Allow some files.
RewriteRule ^sitemap.xml sitemap.xml [L]
RewriteRule ^robots.txt robots.txt [L]
RewriteRule ^cache.manifest cache.manifest [L]

# If we need to generate a static page.
RewriteCond %{QUERY_STRING} _escaped_fragment_
RewriteRule .* noscript/router.php [L]

# Otherwise serve our page.
RewriteRule .* index.html

AddType text/cache-manifest .manifest

Header set Cache-Control "max-age=72000, public"
<Files "a/">
	Header set Cache-Control "max-age=31536000, public"
</Files>

# For development.
Header set Cache-Control "no-cache"
