RewriteEngine On
RewriteBase /

# Strip www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule '' %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,END]

RewriteRule ^a/ - [L]

# If we need to generate a static page.
RewriteCond %{QUERY_STRING} (^|&)_escaped_fragment_
RewriteRule '' /noscript/router.php [END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule '' /index.html [END]

AddType text/cache-manifest .manifest

# Cache most files for 24h. (A manual refresh will re-request)
Header set Cache-Control "max-age=86400,stale-while-revalidate=86400"
<Files "a/">
	# Static files are versioned and can be kept forever. (and longer in case of error).
	Header set Cache-Control "max-age=31536000,stale-while-revalidate=31536000,stale-if-error=31536000"
</Files>

<IfDefine dev>
	Header set Cache-Control "no-cache"
</IfDefine>
