RewriteEngine On
RewriteBase /

# Strip www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule '' %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,END]

RewriteRule ^a/ - [L]

# If we need to generate a static page.
RewriteCond %{QUERY_STRING} _escaped_fragment_
RewriteRule '' /noscript/router.php [END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule '' /index.html [END]

AddType text/cache-manifest .manifest

Header set Cache-Control "max-age=72000, public"
<Files "a/">
	Header set Cache-Control "max-age=31536000, public"
</Files>

<IfDefine dev>
	Header set Cache-Control "no-cache"
</IfDefine>
