html {
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

a, img {
	border: none;
	outline: none;
}

#header a, #footer a {
	color: black;
	text-decoration: none;
}

#header a.navlink {
	text-transform: lowercase;
}

#content {
	max-width: 50em;
	margin: auto;
}
