html {
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	display: table;
}
body > * {
	display: table-row;
}
body > * > * {
	display: table-cell;
}

a, img {
	border: none;
	outline: none;
}

.chrome * {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	
	color: inherit;
	text-decoration: inherit;
}

#content {
	max-width: 50em;
	margin: auto;
	height: auto;
}
