html {
	font: 300 1em Lato, sans-serif;
}

html, body, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
	text-decoration: inherit;
}

*, *::before, *::after {
	box-sizing: border-box;
}

#main {
	display: table;
	table-layout: fixed;
}
#main > * {
	display: table-row;
	height: 1px;
}
#content-cont {
	height: auto;
}

a, img {
	border: none;
	outline: none;
}

.chrome, .chrome * {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	
	text-decoration: inherit;
	color: inherit;
	font: inherit;
}
a.chrome:hover, .chrome a:hover {
	text-decoration: inherit;
}

#header {
	position: relative;
	z-index: 10;
}
#content {
	position: relative;
	margin: auto;
	padding: 0 0.6em;
	font-size: 1.2em;
	z-index: 4;
}

/*** Content ***/

h1, h2, h3, h4, h5, h6 {
	font-weight:  inherit;
}

/*** Carousel ***/
.dots {
	position: absolute;
	right: 0.3em;
	top: 0.3em;
}

.dot {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0.2em;
	border-radius: 50%;
	border: 0.3em solid white;
	box-shadow: hsl(0, 0%, 50%) 0 0 0.5em;
	background: hsla(0, 0%, 0%, 0.2);
	color: hsla(0,0%,0%,0);
}
.dot.active {
	background: white;
}
